##
#  _______          _                  _                _
# |__   __|        | |       /\       | |              | |
#    | |  ___  ___ | |_     /  \    __| |  __ _  _ __  | |_  ___  _ __
#    | | / _ \/ __|| __|   / /\ \  / _` | / _` || '_ \ | __|/ _ \| '__|
#    | ||  __/\__ \| |_   / ____ \| (_| || (_| || |_) || |_|  __/| |
#    |_| \___||___/ \__| /_/    \_\\__,_| \__,_|| .__/  \__|\___||_|
#                                               | |
#                                               |_|
##
# APACHE CAMEL (JMS INTEGRATION)
##
# General Active MQ

spring:
  activemq:
    brokerUrl: {{activemq_broker_url}}
    trustStore: {{activemq_truststore}}
    trustStorePassword:  {{activemq_truststore_password}}
    keyStore:  {{activemq_keystore}}
    keyStorePassword: {{activemq_keystore_password}}

test:
  # Authorization Flow/Route
  authorization:
    requestQueueName: aa.authorization.request.payu_test
    responseQueueName: aa.authorization.response
    concurrentConsumers: {{test_authorization_concurrent_consumers}}
    maxConcurrentConsumers: {{test_authorization_max_concurrent_consumers}}

  # Capture Flow/Route
  capture:
    requestQueueName: aa.capture.request.payu_test
    responseQueueName: aa.capture.response
    concurrentConsumers: {{test_capture_concurrent_consumers}}
    maxConcurrentConsumers: {{test_capture_max_concurrent_consumers}}

  # Refund Flow/Route
  refund:
    requestQueueName: aa.refund.request.payu_test
    responseQueueName: aa.refund.response
    concurrentConsumers: {{test_refund_concurrent_consumers}}
    maxConcurrentConsumers: {{test_refund_max_concurrent_consumers}}

  # Void Flow/Route
  void:
    requestQueueName: aa.void.request.payu_test
    responseQueueName: aa.void.response
    concurrentConsumers: {{test_void_concurrent_consumers}}
    maxConcurrentConsumers: {{test_void_max_concurrent_consumers}}

  # Query Flow/Route
  query:
    requestQueueName: aa.query.request.payu_test
    responseQueueName: aa.query.response
    concurrentConsumers: {{test_query_concurrent_consumers}}
    maxConcurrentConsumers: {{test_query_max_concurrent_consumers}}

## Java Messaging Service Configuration
jms:
  config:
    preserveMessageQos: {{test_jms_config_preserveMessageQos}}
    concurrentConsumers: {{test_jms_config_concurrentConsumers}}
    maxConcurrentConsumers: {{test_jms_config_maxConcurrentConsumers}}
    maxMessagesPerTask: {{test_jms_config_maxMessagesPerTask}}
    asyncConsumer: {{test_jms_config_asyncConsumer}}
    disableReplyTo: {{test_jms_config_disableReplyTo}}
    deliveryPersistent: {{test_jms_config_deliveryPersistent}}
    timeToLive: {{test_jms_config_timeToLive}}
    copyMessageOnSend: {{test_jms_config_copyMessageOnSend}}
    useCompression: {{test_jms_config_useCompression}}
    maxThreadPoolSize: {{test_jms_config_maxThreadPoolSize}}
    messagePrioritySupported: {{test_jms_config_messagePrioritySupported}}
    dispatchAsync: {{test_jms_config_dispatchAsync}}
    useAsyncSend: {{test_jms_config_useAsyncSend}}
    statsEnabled: {{test_jms_config_statsEnabled}}

## Logging level configuration
logging:
  level:
    root: info
    com.payu: info

# Spring Boot Application and Actuator configuration
server:
  port: {{test_server_port}}
endpoints:
  actuator:
    path: actuator
  enabled: false
  sensitive: true
  health:
    enabled: {{test_actuator_health_enabled}}
    sensitive: {{test_actuator_health_sensitive}}
  info:
    enabled: {{test_actuator_info_enabled}}
    sensitive: {{test_actuator_info_sensitive}}

management:
  context-path: /actuator
  health:
    defaults.enabled: false
    jms.enabled: {{test_actuator_health_jms}}

info:
  application: PayU - Acquirer Adapter
  paymentNetwork: PayU Test
  environment: {{inventory_hostname}}
